* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-color: rgb(187, 106, 40);
  --primary-color-transp: rgba(148, 89, 41, 0.582);
  --secondary-color: rgb(0, 0, 0);
  --secondary-color-transp: rgb(0, 0, 0, 0.582);
  --text-color:  rgb(231, 231, 231);
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
  h1 {
    font-size: 1rem;
  }
}

body {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-top: 0;
}

/* Navigation menu */
#navbar__custom {
  background-color: var(--secondary-color-transp);
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-list__custom {
  margin: 0;
  list-style-type: none;
  list-style: none;
  text-align: right;
}

.nav-list__custom li {
  display: inline-block;
}

.nav-list__custom a {
  font-size: 1.7rem;
  display: block;
  padding: 1.5rem;
  transition: 0.5s;
}

.nav-list__custom a:hover {
  transform: translateY(8px);
  background-color: rgb(160, 105, 53);
  border-radius: 10px;
}

#picture {
  position: relative;
}

@media (max-width: 28.75em) {
  nav {
    justify-content: center;
  }

  .nav-list__custom {
    margin: 0 1rem;
  }
}

/* Sections */
#welcome-section {
  /* text-align: center;
  padding: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
        115deg,
        rgba(53, 53, 53, 0.63),
        rgba(7, 7, 7, 0.582)
      ),
      url(img/developer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.projects-section {
  text-align: center;
  padding: 5rem 2rem;
  background-color: var(--primary-color);
  width: 100%;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.projects-section-header {
  max-width: 980px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--text-color);
  color: var(--text-color);
  padding-bottom: 20px;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 3rem;
  }
}

.project-title {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-image {
  /* height: calc(100% - 2rem); */
  width: 384px;
  height: 216px;
  object-fit: cover;
  
}

.projects-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  background-color: var(--secondary-color-transp);
  margin: 0;
  color: var(--text-color);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.377);
  transition: 0.3s;
}

.projects-title:hover {
  transform: translateY(-8px);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.377);
  background-color: rgb(136, 56, 10);
}

.flip-card {
  background-color: transparent;
  width: 384px;
  height: 216px;
  perspective: 1000px;
  margin-bottom: 5rem;
  align-self: center;
  justify-self: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-inner:hover {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: var(--secondary-color-transp);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back__title {
  font-size: 1.5rem;
  font-weight: bold;
  }
  

.flip-card-back__list {
  padding-top: 0.3rem;
  display: inline-block;
  padding-right: 0.3rem;
}

.flip-card-back__list li {
  text-align: center;
  width: 100%;
  font-size: 1.125rem;
}


.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
}

.contact-section h2 {
  color: var(--text-color);
  font-size: 6rem;
  padding-bottom: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
  color: var(--primary-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

/* Footer */
footer {
  font-weight: 300;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  border-top: 4px solid var(--primary-color);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}